@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
  color: white;
  background-color: black;
  font-family: 'Playfair Display', serif;
  text-align: center;
}

body {
  width: 200px;
}

button {
  cursor: pointer;
}

.buttons {
  display: inline-block;
  width: 130px;
}

#light {
  background-color: white;
  color: black;
}

#addCategoryDropbox {
  padding-top: 15px;
  position: relative;
  display: inline-block;
}

#addCategory {
  background-color: white;
  color: black;
  width: 130px;
}

#addCategoryInput {
  display: none;
  position: absolute;
  z-index: 1;
  width: 128px;
}

#addCategoryDropbox:hover #addCategoryInput {
  display: block;
}

#removeCategoryDropbox {
  position: relative;
  display: inline-block;
}

#removeCategory {
  width: 130px;
}

#removeCategoryInput {
  display: none;
  position: absolute;
  z-index: 1;
  width: 128px;
}

#removeCategoryDropbox:hover #removeCategoryInput {
  display: block;
}

#addLinkDropbox {
  margin-top: 25px;
  position: relative;
  display: inline-block;
}

#addLink {
  background-color: white;
  color: black;
  width: 130px;
}

.addLinkInputs {
  display: none;
  position: absolute;
  z-index: 1;
}

.addLinkInputs input {
  display: block;
  width: 128px;
}

#addLinkDropbox:hover .addLinkInputs {
  display: block;
}

#removeLinkDropbox {
  position: relative;
  display: inline-block;
}

#removeLink {
  width: 130px;
}

.removeLinkInputs {
  display: none;
  position: absolute;
  z-index: 1;
}

.removeLinkInputs input {
  display: block;
  width: 128px;
}

#removeLinkDropbox:hover .removeLinkInputs {
  display: block;
}

.dropdown {
  padding-top: 15px;
  position: relative;
  display: inline-block;
}

#dropbox {
  background-color: white;
  color: black;
  width: 130px;
}

#dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.301);
  z-index: 1;
  width: 130px;
}

.dropdown:hover #dropdown-content {
  display: block;
}

#resetButton {
  margin-top: 75px;
  background-color: white;
  color: black;
}