@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
  color: white;
  background-color: black;
  font-family: 'Playfair Display', serif;
  text-align: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  width: 130px;
}

#light {
  background-color: white;
  color: black;
}

#linkSettings {
  padding-top: 15px;
}

#addCategory {
  background-color: white;
  color: black;
  width: 130px;
}

.dropdown {
  padding-top: 15px;
  position: relative;
  display: inline-block;
}

#dropbox {
  background-color: white;
  color: black;
  width: 130px;
}

#dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.301);
  z-index: 1;
  width: 130px;
}

.dropdown:hover #dropdown-content {
  display: block;
}