@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
  color: white;
  background-color: black;
  font-family: 'Playfair Display', serif;
}

h1 {
  text-align: center;
}

.buttons {
  display: flex;
}

#light {
  background-color: aqua;
}

#dark {
  background-color: black;
  color: white;
  border: 2px;
  border-color: white;
}