* {
    background-color: var(--bg);
    color: var(--fontColor);
}

body {
    font-family: 'League Gothic', sans-serif;   
}

.mainImage {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    max-width: 40%;
}

#mainDark {
    display: var(--darkImage);
}

#mainLight {
    display: var(--lightImage);
}

#searchTerm {
    resize: none;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    width: 30%;
    border-color: var(--bg);
    font-size: 30px;
    height: 35px;
}

#searchTerm:hover {
    border-color: var(--fontColor);
}


table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    width: 50%;
    text-align: center;
}

th {
    font-size: 70px;
}

td {
    font-size: 40px;
}

a {
    text-decoration: none;
    color: var(--fontColor);
}

a:hover {
    text-decoration: underline;
}

#mode {
    position: absolute;
    bottom: 1%;
    font-family: monospace;
}

.dark-mode {
    --bg: black;
    --fontColor: white;
    --darkImage: block;
    --lightImage: none;
}

.light-mode {
    --bg: white;
    --fontColor: black;
    --darkImage: none;
    --lightImage: block;
}